@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

.time{
    font-size:1.7rem;
    position: absolute;
    top: 10rem;
    right: 25%;
}

.movieBackground{
    width: 50%;
    height: 5rem;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 13rem;
    border-radius: 1rem;
    /* center this div */
    left: 50%;
    transform: translateX(-50%);
}

.movie{
    font-size: 2rem;
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
}

.details{
    width: 30%;
    position: absolute;
    top: 20rem;
    left: 25%;
    font-size: 1.5rem;
}

.scoreBackground{
    width: 20%;
    height: 8rem;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 20rem;
    border-radius: 1rem;
    /* center this div */
    right: 35%;
    transform: translateX(50%);
}
.score{
    padding-bottom:1rem;
}
.scores{
    padding: 0.5rem;
    font-size: 1.5rem;
    position: absolute;
    right: 35%;
    top: 21rem;
    transform: translateX(50%);
    color: white;
}
.grey{
    height: 100vh;
    width: 100vw;
    color: #cbcbcb;

}

.logo {
  font-family: "Playfair Display", serif;
  mix-blend-mode: difference;
  text-shadow: 0 8px 32px #1f2933;
  color: #cbcbcb;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.input{
    position: absolute;
    bottom: 11.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #ffffff;
    width: 30%;
}

.timeup{
    /* make a timeup card */
    position: fixed;
    top:7rem;
    left: 50vh;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    height: 30rem;
    padding: 4rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    size: 5rem;
    font-size: 1.5rem;
    background-color: black;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 7rem;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr ;
    position: absolute;
    bottom: 3rem;
}

@media screen and (max-width: 1000px){

    .logo{
        font-size: 1.6rem;
    }

    .movieBackground{
        width: 80%;
        height: 5rem;
        background-color: #000000;
        opacity: 0.5;
        position: absolute;
        top: 13rem;
        border-radius: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .details{
        width: 80%;
        position: absolute;
        top: 20rem;
        left: 10%;
        font-size: 1rem;
    }

    .scoreBackground{
        width: 80%;
        height: 8rem;
        background-color: #000000;
        opacity: 0.5;
        position: absolute;
        top: 32rem;
        border-radius: 1rem;
        /* center this div */
        left: 50%;
        transform: translateX(-50%);
    }
    .score{
        padding-bottom:1rem;
    }
    .scores{
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        position: absolute;
        top: 33rem;
        transform: translateX(70%);
        color: white;
    }
    .time{
        font-size:1.2rem;
        position: absolute;
        top: 10rem;
        right: 25%;
    }
    .input{
        position: absolute;
        bottom: 23rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.3rem;
        opacity: 0.8;
        font-family: 'Montserrat', sans-serif;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.5rem;
        background-color: #ffffff;
        width: 80%;
    }
    .buttons{
        display: grid;
        grid-template-columns: 1fr ;
        position: absolute;
        bottom: 3rem;
    }
}