
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 30px 50px;
  border-radius: 1rem;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.App-header {
  background: url("https://images.unsplash.com/photo-1505775561242-727b7fba20f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
    no-repeat center center fixed;
  background-size: cover;
  display: flex;
  color: white;
  width: 100rem;
}
