
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 30px 50px;
  border-radius: 1rem;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.App-header {
  background: url("../images/background.jpg")
    no-repeat center fixed;
  background-size: cover;
  display: flex;
  color: white;
  width: 100rem;
}
